.container {
  display: flex;
  width: 100%;
}

.target-container {
  display: flex;
  flex: 1;
}

div[class^="target-container-"] {
  border: dotted 1px black;
  margin: 10px;
  padding: 10px;
}

.target-container-filter {
  width: 150px;
}

.target-container-content {
  flex: 1;
}

.source-container {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

.component { 
  background-color: #fff;
  width: 100px;
  height: 100px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}